body {
  background-image: url("img/hatter.jpg");
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: 100%;
}

p {
  text-align: justify;
  text-indent: 25px;
}

#content {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 980px;
}

.frame {
  width: 490px;
  float: right;
  padding: 0px 5px 5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgba(227, 225, 233, 0.8);
}

.frame img {
  width: 499px;
  position: relative;
  left: -5px;
  border-bottom: 2px solid black;
}

h1,
h2 {
  font-variant: small-caps;
  font-style: italic;
}

p.imgtitle {
  font-size: 1.1em;
  margin: 0;
  font-style: italic;
  text-align: center;
  line-height: 130%;
}

table,
.frame {
  border: 3px solid green;
  border-collapse: collapse;
  text-align: center;
}

table {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: green;
  color: white;
}

td {
  background-color: rgba(227, 225, 233, 0.8);
}

a:link,
a:visited {
  color: blue;
}

a {
  text-decoration-line: none;
}